[submodule "fly-explorer-chat"]
	path = fly-explorer-chat
	url = https://github.com/lochoang174/fly-explorer.git
[submodule "eliza_deploy"]
	path = eliza_deploy
	url = https://github.com/AnhQuan2004/eliza_deploy.git
[submodule "flyfish-extension"]
	path = flyfish-extension
	url = https://github.com/Weminal-labs/flyfish-extension
[submodule "flyfish-agent-movement"]
	path = flyfish-agent-movement
	url = https://github.com/tung-lee/flyfish-agent-movement
